/* CSS reset */
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 3.2rem;
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

.media-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); }
  .media-container iframe, .media-container img, .media-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 25px; }

h1, h2, h3, h4, h5 {
  margin: 0 0 20px; }

a, p {
  font-size: 16px; }

p.large {
  font-size: 20px; }

.-center {
  text-align: center; }

.fifty-fifty {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 0 0 50px; }
  @media (min-width: 56.25em) {
    .fifty-fifty {
      flex-direction: row; } }
  @media (min-width: 56.25em) {
    .fifty-fifty.-flip {
      flex-direction: row-reverse; } }
  .fifty-fifty-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px; }
    @media (min-width: 56.25em) {
      .fifty-fifty-inner {
        width: 48%;
        margin: 0; } }
  .fifty-fifty-link {
    display: inline-block;
    position: relative;
    width: max-content;
    margin: 0 auto; }
    @media (min-width: 37.5em) {
      .fifty-fifty-link {
        margin: 0; } }
    .fifty-fifty-link svg {
      transition: all 1 ease-in; }
    .fifty-fifty-link:hover svg {
      margin: 0 0 0 4px; }
    .fifty-fifty-link:hover::before {
      opacity: 1; }
    .fifty-fifty-link::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: -10px;
      height: 100%;
      width: 115%;
      border: 1px solid #e4e2e1;
      border-radius: 100px;
      padding: 20px 20px 20px 20px;
      opacity: 0;
      transition: opacity 1 ease-in; }

.intro {
  margin: 50px 0; }
